<header class="min-h-screen bg-center bg-no-repeat bg-cover bg-hero-img-2">
    <app-navbar />
    <div class="max-w-xl px-10 py-6 mt-16 ml-40 text-white bg-gray-800 rounded-lg bg-opacity-60">
        <div class="flex float-right gap-2">
            <a href="#">view details</a> <fa-icon [icon]="arrow" class="rotate-45 " />
        </div>
        <div class="mt-8">
            <p class="mb-4 text-xl font-semibold">R21,036.66/<span class=" font-extralight">Month</span></p>
            <p class="mb-4 text-2xl font-bold">5.0 GT Series 10AT Fastback</p>
            <div class="flex items-center justify-between">
                @for (item of icons; track $index) {
                    <div class="text-2xl">
                        <fa-icon [icon]="item" />
                        <p class="text-xl font-extralight">{{iconsDesc[$index]}}</p>
                        <p>Petrol</p>
                    </div>
                }
            </div>
        </div>
    </div>
</header>