<main class="bg-gray-50">
  <app-header />
  <section class="container py-20 mx-auto">
    <h1 class="mb-6 text-5xl font-bold text-center uppercase"><span class="text-yellow-600 ">Latest</span> Inventory
    </h1>
    <a href="/" class="text-right text-yellow-700">View All</a>
    <div class="grid items-center grid-cols-3 gap-6 mt-5">
      @for (item of cars | slice:0:6; track $index) {
      <app-car-rental-card [car]="item" />
      }
    </div>
  </section>
  <section class="container py-20 mx-auto">
    <h1 class="mb-6 text-5xl font-bold text-center uppercase">Our <span class="text-yellow-600 "> Numbers</span></h1>
    <div class="container flex items-center justify-between p-10 mx-auto text-center bg-white shadow-md rounded-xl">
      <div>
        <h3 class="text-4xl font-extrabold text-yellow-600 uppercase">500</h3>
        <p>Active Clients</p>
      </div>
      <p class="py-10 border border-l-2 border-l-gray-400"></p>
      <div>
        <h3 class="text-3xl font-extrabold text-yellow-600 uppercase">630</h3>
        <p>Car Models</p>
      </div>
      <p class="py-10 border border-l-2 border-l-gray-400"></p>
      <div>
        <h3 class="text-3xl font-extrabold text-yellow-600 uppercase">4</h3>
        <p>Served Countries</p>
      </div>
    </div>
  </section>
  <section class="container py-10 mx-auto">
    <h1 class="mb-6 text-5xl font-bold text-center uppercase">Why <span class="text-yellow-600 ">Choose us</span></h1>
    <p class="max-w-2xl mx-auto text-center text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt error ipsum maxime accusamus modi! Voluptatibus
      repudiandae, perspiciatis tempore delectus aspernatur eveniet. Recusandae ratione molestias ullam vitae veniam
      porro iure facilis!
    </p>
    <div class="flex items-center mt-12">
      <img src="/assets/bmw.png" alt="bwm" />
      <ul class="grid grid-cols-2 gap-6">
        @for (item of chooseUs; track $index) {
        <li class="flex gap-4">
          <div class="p-6 mx-auto bg-red-50 rounded-lg max-w-fit max-h-[70px]"><fa-icon [icon]="icons[$index]"
              class="text-yellow-600"></fa-icon></div>
          <div>
            <h4 class="my-1 font-bold text-gray-800">{{item.title}}</h4>
            <p class="text-gray-600 font-extralight">{{item.description}}</p>
          </div>
        </li>
        }
      </ul>
    </div>

    <div class="flex items-center justify-between">
      <div class="flex flex-col justify-between gap-5">
        <h1 class="mb-6 text-4xl font-bold text-left uppercase"><span class="text-yellow-600 "> Be the first</span> to
          see the news</h1>
        <p class="mx-auto text-left text-gray-500 max-w-[37rem]">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eum placeat, delectus doloremque provident
          mollitia facere deleniti?
        </p>
        <form class="flex mt-4">
          <input type="text" placeholder="Email here"  class="w-full px-3 py-4 bg-white shadow-md rounded-l-xl"/>
          <button type="submit" class="w-1/3 p-4 text-white bg-yellow-600 rounded-r-xl ">Submit Now</button>
        </form>
      </div>
      <div class="flex overflow-hidden">
        <img src="/assets/gt.png" alt="bwm" />
        <img src="/assets/amg.png" alt="bwm" />
      </div>
      
    </div>
  </section>

  <app-footer />
</main>