<nav class="container flex items-center justify-between py-6 mx-auto overflow-hidden">
    <h1 id="logo" class="text-2xl font-extrabold">Drive Mate</h1>

    <ul class="flex items-center gap-6">
        @for (item of navLinks; track $index) {
            <li class="text-xl hover:underline hover:text-gray-700 font-extralight text-gray-950 decoration-yellow-500"><a [href]="item.id">{{item.title}}</a></li>
        }
    </ul>

    <div class="items-center hidden gap-4 text-xl lg:flex">
        <a routerLink="/login">Login</a>
        <a href="/" class="px-6 py-2 text-white bg-yellow-500 rounded-lg">Sign Up</a>
    </div>
    
</nav>